<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PicturesSharedWithMe">Shared</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Pictures">Pictures</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Friends">Friends</a>
</li>

